In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv("test_data/data_created.csv")    #원본파일
df1 = pd.read_csv("test_data/data_ori2.csv")   #비식별파일

#일련번호순으로 정렬
s_df = df.sort_values(by='일련번호') #index는 일련번호의미
s_df1 = df1.sort_values(by='일련번호')

#컬럼지정
interest_column = pd.Series(['신용대출한도','월소득']) #원하는 열 선택

#삭제된 행 처리
deleted_rows = list(set(s_df['일련번호']) - set(s_df1['일련번호']))
s_df.drop(deleted_rows)

       Unnamed: 0      일련번호   이름 성별  시도      나이       신용대출한도  신용등급         월소득
0               1  10010785  조미선  F  대전     30대   70000000.0     3   7000000.0
1               2  10011953  홍길병  M  경북     60대  330000000.0     2   7000000.0
2               3  10012231  김영심  F  경남     50대   40000000.0     3   8000000.0
3               4  10012598  이미정  F  서울     70대   60000000.0     7         0.0
4               5  10013649  김경태  M  서울     40대          0.0    10         0.0
5               6  10014221  유영근  M  경기     40대   10000000.0     7   1000000.0
6               7  10015665  박을규  M  경기     20대   40000000.0     7         0.0
7               8  10016386  문정은  F  경기     60대          0.0     8   3000000.0
8              10  10017321  전태홍  M  서울     40대   20000000.0     8         0.0
9              11  10017383  이현주  F  경기     70대          0.0     6   8000000.0
10             12  10018757  백지연  M  서울     70대  440000000.0     3         0.0
11             13  10018880  민영기  M  강원     40대   40000000.0     4   3000000.0
12             14  10019912  김수복  F  전남     70대          0.0     8   1000000.0
13             15  10022529  엄경아  F  서울     60대   20000000.0     4   8000000.0
14             16  10022622  이병국  M  서울     30대   60000000.0     6   4000000.0
15             17  10022950  박정숙  F  서울     50대   20000000.0     4   8000000.0
16             18  10023275  양재권  M  경북     60대          0.0     9   1000000.0
17             19  10026248  김영복  M  경기     50대  170000000.0     4         0.0
18             20  10029102  김종찬  M  경남     60대   10000000.0     9         0.0
19             21  10030386  이애경  F  경기     70대          0.0     9         0.0
20             22  10031260  박응진  M  경기     60대   20000000.0     5   7000000.0
21             23  10034182  김선호  M  서울     30대  690000000.0     1   7000000.0
22             24  10035717  이명만  M  부산     60대          0.0    10         0.0
23             25  10036391  진경숙  F  경기     60대   50000000.0     3   8000000.0
24             26  10037882  권희원  F  제주     50대   30000000.0     8         0.0
25             27  10039187  김인순  F  강원     70대  900000000.0     1  10000000.0
26             28  10042305  민복홍  F  서울     50대   50000000.0     4   1000000.0
27             29  10044259  김재옥  F  경기     60대          0.0     7   8000000.0
28             30  10048107  고광석  M  서울     50대   10000000.0     4   3000000.0
29             31  10049589  강상욱  M  경기     70대          0.0     6   6000000.0
...           ...       ...  ... ..  ..     ...          ...   ...         ...
14935       14937  30964542  염앵란  F  경기     40대   30000000.0     4   1000000.0
14936       14938  30966686  여숙희  F  서울     60대   20000000.0     4   9000000.0
14937       14939  30967276  이옥희  F  서울     20대   60000000.0     5   1000000.0
14938       14940  30970119  박선규  M  충남     30대   10000000.0     7   1000000.0
14939       14941  30970389  김인호  M  경기     50대   10000000.0     9         0.0
14940       14942  30970449  조영삼  M  경기     70대   20000000.0     8   3000000.0
14941       14943  30970902  이인숙  F  서울     50대   70000000.0     4   1000000.0
14942       14944  30972548  이창영  F  인천     70대          0.0     9   1000000.0
14943       14945  30972715  이종선  M  서울     50대          0.0     2   5000000.0
14944       14946  30973151  서백숙  F  경기     40대          0.0     6   8000000.0
14945       14947  30977150  임경숙  F  경남     40대   10000000.0     5  11000000.0
14946       14948  30978422  정명순  F  경기     30대          0.0     7   8000000.0
14947       14949  30978446  전윤선  F  경남     60대  430000000.0     3         0.0
14948       14950  30978654  주일랑  M  경기     60대   10000000.0     8         0.0
14949       14951  30979157  박용식  M  인천     70대   20000000.0     8         0.0
14950       14952  30979173  장영순  F  전남     70대   80000000.0     3   8000000.0
14951       14953  30979388  윤창구  M  경남     20대  340000000.0     4   1000000.0
14952       14954  30981766  이삼현  M  강원     70대          0.0     9   2000000.0
14953       14955  30983004  김영매  F  전북     50대          0.0     7  10000000.0
14954       14956  30988061  이정례  F  경남     60대   10000000.0     7   7000000.0
14955       14957  30988595  박찬진  M  경북     50대  190000000.0     4   3000000.0
14956       14958  30988842  김태곤  F  전남     60대  170000000.0     2   8000000.0
14957       14959  30991112  박인화  M  서울     40대  130000000.0     3   4000000.0
14958       14960  30991191  정옥수  F  인천     60대  180000000.0     2   8000000.0
14959       14961  30992778  김정호  M  서울     60대  260000000.0     3   2000000.0
14960       14962  30993737  김복인  F  서울     50대          0.0     6         0.0
14961       14963  30993742  이복자  F  경기  80세 이상   10000000.0     5   8000000.0
14962       14964  30996257  장만호  M  서울     60대   50000000.0     6         0.0
14963       14965  30998255  김병환  M  경남     40대   70000000.0     4   1000000.0
14964       14966  30998523  김향란  F  제주     40대          0.0     6   7000000.0

[14965 rows x 9 columns]

In [122]:
#컬럼별 연산
cos = {}
for i in interest_column:
    dot = np.dot(df[i], df1[i])
    norma = np.linalg.norm(df[i])
    normb = np.linalg.norm(df1[i])
    cos[i] = dot / (norma * normb)

In [123]:

#컬럼별 결과 출력
cos

#최적의 결과 제공

{'신용대출한도': 0.9999218445557229, '월소득': 0.9996022428828333}

In [ ]:
0.9996022433325591